<div *ngIf="suc" >
  <app-loader></app-loader>
  
</div>


<div class="container mb-5">
    <div class="row mb-5">
        <div class="col-md-12  col-10  mb-5">
          <p align='center'>

            <br><br><br>

            <img style="height: 350px; width: 350px;" class="mx-auto mb-3"  src="/assets/banner.svg" alt=""><br>
            
            <button class="btn btn-dark" (click)="displaymodal()"> CLICK TO CREATE AJO GROUP <i class="fa fa-users"></i></button>
          </p>
          

        </div>
    </div>
</div>





